<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='wrapper'>
        <div style="width: 450px;  margin: 0 auto; padding: 10px;">
            <form id="myForm" action=""  method="post">
                {% csrf_token %}
                {{ form}}
                <button type="submit" name="action" value="accept">Login</button>
            </form>
        </div>
    </div>
</body>
</html>